# Dependencies
node_modules
.pnpm-store


# Build output
dist
.next
.expo
*.tsbuildinfo

# Environment
.env
.env.local
.env.production

# IDE
.vscode/settings.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
coverage

# Logs
*.log
logs

# Mobile
apps/mobile/android/app/build
apps/mobile/ios/Pods
*.jks
*.keystore

# Turborepo
.turbo
